*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

body{

  background-image: url(../img/bg-desktop.svg);
  background-size: 1100px;
  background-color: hsl(257, 40%, 49%);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-position-y: -73px;
  background-repeat: no-repeat;
}

#wrapper{
    width: 90vw;
    margin: 30px 30px 0 auto;
}

header{
    padding: 0px 0 30px 0;
    width: 100%;
}

.logo{
    max-width: 180px;
}

main{
    display: flex;
}

.col_sx img{
    max-width: 100%;
}

.col_sx{
    width: 50%;
    height: 100%;
}

.col_dx{
    width: 50%;
    height: 100%;
    padding: 40px 80px 40px 40px;
}

h1{
    font-size: 36px;
}

p{
    margin: 20px 0 10px 0;
}

button{
    cursor: pointer;
    margin-top: 20px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border: 0;
    border-radius: 30px;
    padding: 13px 50px;
    box-shadow: 0px 3px 6px -3px black;
}

button:hover{
    color: white;
    background-color: hsl(300, 69%, 71%);
}

footer{
    display: flex;
    justify-content: end;
    align-items: flex-end;

    padding: 0px 100px 0px 0px;
    width: 100%;
}

footer div a i{
    border-radius: 100%;
    border: 2px solid white;
    margin: 0 5px;
    padding: 15px;
    padding: 10px 23px 10px 10px;
}

footer div a i:hover{
    border: 2px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}

.facebook{
    padding: 10px 23px 10px 13px;
}

/**********************************************************/
/*Responsive*/

@media screen and (max-width:380px) {
    
    body{
    background-image: url(../img/bg-mobile.svg);
    background-size: 104%;
    background-position-y: -48px;
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    header{
        padding: 25px;
    }

    main{
        flex-direction: column;
        text-align: center;
    }

    .col_sx{
        width: 100%;
        padding: 25px;
    }

    .col_dx{
        width: 100%;
        padding: 25px;
    }

    h1{
        font-size: 24px;
    }

    footer{
        margin: 50px 0;
        justify-content: center;
        padding: 0px;
    }

    button{
    padding: 13px 80px;
    }

}